<h1>CS</h1>
<div class="notice"><%= flash[:notice] %></div>
<% if !current_user %>
  <%= form_tag user_CS_omniauth_callback_path do %>
    <%= text_field_tag 'id', "", placeholder: 'account' %>
    <%= password_field_tag 'pw', "", placeholder: 'password' %>
    <%= submit_tag 'send' %>
  <% end %>
<% else %>
  <%= link_to "enter", categories_path %>
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
<% end %>
