<%= form_tag boards_path(category_id: @category) do %>
  <%= hidden_field_tag 'board[category_id]', @category.id %>
	<%= label_tag 'board[name]', '版名' %>
  <%= text_field_tag 'board[name]' %>
	<br>
	<%= label_tag 'board[viewlist]', '白名單' %>
	<button name="button" type="button" onclick="newViewer()" class="btn icon-btn btn-success">
		<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
		Add
	</button>
	<div id="viewlist">
	</div>
	<br>
  <%= submit_tag 'save' %>
<% end %>
