<%= stylesheet_link_tag "categories", media: "all", "data-turbolinks-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_tag categories_path, class: "form-horizontal" do %>
				<legend>New Category</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label" style="text-align:left;">category name</label>
					<div class="col-sm-9">
						<%= text_field_tag 'category[name]', "", placeholder: "07系學會", class: "form-control" %>
					</div>
				</div> <!-- .form-group -->
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<div class="pull-right">
							<%= link_to 'cancel', categories_path, class: "btn btn-default" %>
							<%= submit_tag 'save', class: "btn btn-primary" %>
						</div>
					</div>
				</div> <!-- .form-group -->
			<% end %>
		</div>
	</div>
</div>
